<div>
  <.form
    let={f}
    for={@changeset}
    id="product-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save">

  <.form_field type="text_input" form={f} field={:name} />
  <.form_field type="number_input" form={f} field={:price} />
  
    <div>
      <.button
      type="submit"
      label="Save"
      phx-disable-with="Saving..." />
    </div>
  </.form>
</div>
